<div class="row pad-100">
  <div class="col-sm-3">
    <%= image_tag("avatar.png", class: "circle img-thumb") %>
  </div>

  <div class="col-sm-6">
    <div class="profile-info">
      <h2><%= current_user.user_name %></h2>
      <p> <%= current_user.email %></p>
      <hr>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="profile-btn">
      <%= button_tag(type: :submit, class: "btn btn-md") do %>
              Edit Profile
            <% end %>
    </div>
  </div>
</div>







<div class="row pad-100">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Assigments</div>
      <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Assigment</th>
                  <th scope="col">Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>


        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">My Classes</div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Class</th>
                  <th scope="col">Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
