
<div class="sidebar">


  <ul class="nav nav-tabs-stacked nav-sidebar" role="tablist">
    <li role="presentation" class="active">
      <%= link_to "Assignments", "#assignments", role: "tab", data: { toggle: "tab"}, class: "nav-link " %>
    </li>
    <li role="presentation">
      <%= link_to "E-classes", "#eclasses", role: "tab", data: { toggle: "tab"}, class: "nav-link" %>
    </li>
    <li role="presentation">
      <%= link_to "Resources", "#resources", role: "tab", data: { toggle: "tab"}, class: "nav-link" %>
    </li>
  </ul>
</div>
