<div class="container-fluid no-pad">

    <!-- Nav tabs -->

      <div class="col-sm-3 col-md-2 no-pad">
        <%= render 'users/sidebar' %>
      </div>

    <!-- Tab panes -->
      <div class="col-sm-9 col-md-10">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="assignments">
            <%= render 'users/assignments' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="eclasses">
            <%= render 'users/eclasses' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="resources">
            <%= render 'users/resources' %>
          </div>
        </div>
      </div>
</div>
