

<section class = "writing">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 col-md-offset-2">
                <div class = "writing-image">
                    <%= image_tag 'writing.svg', size: "400x300" %>
                </div>
            </div>
            
            
            <div class = "col-md-5 col-md-offset-1 ">
                <div class = "eclasses-content">
                    <h2>Writing Center</h2>
                    <p>Get all your online coursers and E-classes done and completed. All assignments and tests given
                    out completed on time and with precision for maximum test scores</p>
                    <div class = "btn btn-primary">Writing Center  </div>
                </div>
            </div>

            
        </div>
    </div>
</section>


<section class = "eclasses">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 col-md-offset-2">
                <div class = "eclasses-content">
                    <h2>E-Classes</h2>
                    <p>Get all your online coursers and E-classes done and completed. All assignments and tests given
                    out completed on time and with precision for maximum test scores</p>
                    <div class = "btn btn-primary">E-Classes  </div>
                </div>
            </div>

            <div class = "col-md-6">
                <div class = "eclasses-image">
                    <%= image_tag 'eclass.svg', size: "400x300" %>
                </div>
            </div>
        </div>
    </div>
</section>


<section class = "plans">
    <div class = "container">
        <div class = "row">
            <div class ="col-sm-6">
                <div class = "plan-content">
                    <div class = "plan-image">
                        <%= image_tag 'plan1.png', size: "200x150" %>
                    </div>
                    <h2>Start With Basic Plan</h2>
                    <p>Get started today with the plan that goes for as low as $10.99 per month</p>
                    <div class = "btn btn-primary">Basic Plan </div>

                </div>
            </div>
            <div class ="col-sm-6">
                    <div class = "plan-content">
                        <div class = "plan-image">
                            <%= image_tag 'plan2.png', size: "200x150" %>
                        </div>
                        <h2>Start With Premuim Plan</h2>
                        <p>Get started today with the plan that goes for as low as $20.99 per month</p>
                        <div class = "btn btn-primary">Premium Plan </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section class = "testimonials">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
                <div class = "testimonial-content">
                    <h2>Testimonials</h2>
                    <h6>Testimonials will go here </h6>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class = "bottom-signup">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
                <div class = "signup-content">
                    <h2>Start Here</h2>
                    <h6>Join MyCademy today, and see how it works </h6>
                    <div class = "btn btn-primary">Sign Up</div>
                </div>
            </div>
        </div>
    </div>
</section>