<div class = "footer-group">
    <footer class = "footer">
        <div class="container">
            <div class = "col-md-12">
                <div class = "row">
                    <div class = "col-sm-6 col-lg-3">
                        <div class = "footer-left footer-content">
                            <h2>MyCademy</h2>
                            <p>Welcome to my cademy, where we get things done for you. </p>
                        </div>
                    </div>
                    <div class = "col-sm-6 col-lg-6">
                        <div class = "row">
                            <div class = "col-md-4">
                                <div class = "footer-content footer-list">
                                    <ul>
                                        <h6>Company</h6>
                                        <li>About Us</li>
                                        <li>Help</li>
                                        <li>Contact</li>
                                        <li>FAQ</li>   
                                    </ul>
                                </div>
                            </div>
                            <div class = "col-md-4">
                                <div class = "footer-content footer-list">
                                    <ul>
                                        <h6>Features</h6>
                                        <li>E-Classes</li>
                                        <li>Study Resources</li>
                                        <li>Writting Center</li>
                                          
                                    </ul>
                                </div>
                            </div>
                            <div class = "col-md-4">
                                <div class = "footer-content footer-list">
                                    <ul>
                                        <h6>Get in Touch</h6>
                                        <li>Facebook</li>
                                        <li>Twitter</li>
                                        <li>Youtube</li>
                                        <li>LinkedIn</li>   
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class = "col-sm-6 col-lg-3">
                        <div class = "footer-right footer-content footer-list">
                            <h6>Apps</h6>
                            <div class = "android">
                                <%= image_tag 'android.png', size: "150x60"%>
                            </div>
                            <div class = "ios">
                                <%= image_tag 'ios.png', size: "130x43"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class = "bg-dark">
        <div class = "container ">
            <div class= "row center">
                <div class = "col-md-6 col-md-offset-3">
                    <div class = "copy ">
                        Copyright &copy; 2018. My Cademy, Inc.
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>
